body {
    background-color: rgb(44, 44, 44);
    color: rgb(27, 172, 75);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 12px 0 12px;
}

header {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.308);
    padding: 10px 20px;
}
.logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    margin-right: 30px;
}

.header_info {
    display: flex;
    justify-content: center;
    color: rgb(11, 34, 7);
    font-size: 1.2em;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 195, 255, 0.5);
    font-style: italic;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 10px;
    margin: 0;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

nav ul li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: rgb(0, 255, 13);
    font-weight: 700;
}

a:hover {
    color: rgb(0, 195, 255);
}

h1 {
    color: rgb(114, 223, 12);
    text-align: center;
    font-size: 2.5em;
    text-shadow: 4px 4px 8px rgba(0, 195, 255, 0.5);
}   
h2  {
    color: rgb(0, 255, 13);
    text-align: center;
    font-size: 2em;
    text-shadow: 4px 4px 8px rgba(0, 195, 255, 0.5);
}
h3 {
    color: rgb(0, 255, 13);
    text-align: center;
    font-size: 1.5em;
    text-shadow: 4px 4px 8px rgba(0, 195, 255, 0.5);
}

h4 {
    color: rgb(0, 255, 13);
    text-align: center;
    font-size: 1.2em;
    text-shadow: 4px 4px 8px rgba(0, 195, 255, 0.5);
}
h5 {
    color: rgb(0, 255, 13);
    text-align: center;
    font-size: 1em;
    text-shadow: 4px 4px 8px rgba(0, 195, 255, 0.5);
}

h6 {
    color: rgb(0, 255, 13);
    text-align: center;
    font-size: 0.8em;
    text-shadow: 4px 4px 8px rgba(0, 195, 255, 0.5);
}
p {
    color: rgb(0, 255, 13);
    text-align: center;
    font-size: 1em;
    text-shadow: 4px 4px 8px rgba(72, 255, 0, 0.5);
    margin: 0 72px 0 72px;
    
}
.img_conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 195, 255, 0.747);
}